<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xingyu.myfine.mapper.EvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xingyu.myfine.pojo.Evaluate">
        <id column="id" property="id" />
        <result column="productId" property="productId" />
        <result column="userId" property="userId" />
        <result column="evaluateTime" property="evaluateTime" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, productId, userId, evaluateTime, content
    </sql>

</mapper>
